/* clear */
:root {
  --fontSize: 20px;
  --box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --lightWhite: rgb(248, 248, 248);
  --tropicalIndigo: #9593d9;
  --pompPurple: #736b92;
  --vistaBlue: #7c90db;
  --fontFamily: "League Spartan", sans-serif;
  --responsiveFont: clamp(0.2rem, 2rem, 30rem);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Glass */
.glass-effect {
  background: rgba(#736b92, 0.101);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border: 1px solid rgba(115, 107, 146, 0.04);
  transition: opacity 1s ease, transform 1s ease;
  padding: 2rem;
  border-radius: 1rem;
}
.text-container {
  text-align: justify;
  text-wrap: wrap;
  font-family: var(--fontFamily);
  font-size: clamp(16px, 1.5vw, 3rem);
  font-weight: 600;
  color: #fff;
  padding: 1rem;
}

/* Navbar */
.navigation {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  top: 0;
}

.navigation > a,
.navigation > ul > li > a {
  color: var(--tropicalIndigo);
  transition: 1s;
  font-size: var(--fontSize);
  position: relative;
  font-family: var(--fontFamily);
}

.navigation > a:hover,
.navigation > ul > li > a:hover {
  color: var(--pompPurple);
  font-size: var(--fontSize);
}

.navigation > ul > li > a::after {
  content: "";
  position: absolute;
  display: none;
  height: 3px;
  width: 0%;
  background-color: var(--pompPurple);
}

.navigation > ul > li > a:hover::after {
  display: block;
  animation: stretch 0.5s forwards;
}

.contact-sidebar {
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background: #fff;
  overflow-x: hidden;
  padding: 1.5rem;
  display: flex;
  border-radius: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  flex-direction: column;
  animation: fadeIn 3s ease-in;
}

.contact-sidebar > a {
  font-size: 2rem;
  color: var(--tropicalIndigo);
  margin: 1rem 0;
}

.contact-sidebar > a:hover {
  color: var(--pompPurple);
  scale: 1.2;
}

/* Main Content */

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.column {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  scroll-snap-align: start;
  animation: fadeIn 1s ease-in;
}

.column-right {
  display: flex;
  overflow: hidden;
  background-color: #fff;
}

.column-full {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-left {
  display: flex;
  overflow: hidden;
}

.column-left > h1 {
  font-family: var(--fontFamily);
  font-weight: 900;
  font-size: clamp(1rem, 8vw, 15rem);
  color: #fff;
  line-height: 0.8;
  text-align: right;
  text-transform: capitalize;
  animation: MoveRight 3s ease;
}

.arrow-position {
  position: absolute;
  font-size: 6rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: flipInX 10s ease-in, spining 2s ease infinite;
  filter: drop-shadow(0 10px 0.2rem var(--vistaBlue));
}

.welcome-description {
  width: 100%;
  color: var(--vistaBlue);
}

.welcome-description h2 {
  font-family: var(--fontFamily);
  font-weight: 900;
  font-size: clamp(0.5rem, 6vw, 5rem);
  color: var(--vistaBlue);
  margin-left: 3rem;
  line-height: 0.8;
  animation: MoveLeft 5s ease-in-out;
}
.welcome-description span {
  color: var(--pompPurple);
  text-transform: capitalize;
  font-size: clamp(0.8rem, 8vw, 7rem);
}

/* About Me */

.about-me {
  width: clamp(3rem, 80vw, 80vw);
  height: auto;
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.about-me-photo {
  border-radius: 50%;
  width: 100%;
  border: 1rem solid var(--pompPurple);
  background-color: var(--tropicalIndigo);
  box-shadow: var(--box-shadow);
}
.about-me > .image-container {
  width: clamp(5rem, 20vw, 20rem);
  margin-right: clamp(0.5rem, 2vw, 2rem);
}
.about-me > .text-container {
  width: 70%;
  animation: pulse 10s ease infinite;
}
/* Projects */

.project-container {
  opacity: 0;
  display: grid;
  width: clamp(3rem, 80vw, 80vw);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  height: fit-content;
  overflow: auto;
}
.project {
  background-color: #fff;
  display: flex;
}
.project > .text-container {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project > h2 {
  float: left;
  margin: 0;
  padding: 0;
}

/* Animation */
.about-me.animate__bounceInUp,
.project-container.animate__bounceInUp {
  opacity: 1;
  transform: translateY(0);
  animation-duration: 1.5s;
}

.fadeIn_1 {
  animation: bounceInDown 2s ease-in;
}

.fadeIn_2 {
  animation: bounceInDown 2.5s ease-in;
}

.fadeIn_3 {
  animation: bounceInDown 3s ease-in;
}

.fadeIn_4 {
  animation: bounceInDown 3.5s ease-in;
}

@keyframes spining {
  0% {
    transform: translateX(-50%) translateY(0rem);
  }
  50% {
    transform: translateX(-50%) translateY(-2rem);
  }
  100% {
    transform: translateX(-50%) translateY(0rem);
  }
}

@keyframes MoveRight {
  0% {
    transform: translateX(20em);
  }
  100% {
    transform: translateX(0em);
  }
}
@keyframes MoveLeft {
  0% {
    transform: translateX(-20em);
  }
  100% {
    transform: translateX(0em);
  }
}

@keyframes stretch {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Responsive */

@media only screen and (max-width: 1200px) {
  .contact-sidebar {
    display: none;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .project-container {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-me {
    opacity: 1;
  }
  .project-container > .text-container {
    font-size: 16px;
  }
}
